.AdminReservesManagerPage {
    padding: 20px 30px 0;
}

.AdminReservesManagerPage .page-title {
    max-width: 760px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 18px;
}

.AdminReservesManagerPage .list-container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

@media screen and (max-width: 599px) {

    .AdminReservesManagerPage {
        padding: 15px 10px 0;
    }
}