.ArticlesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    justify-content: space-between;
}

.ArticlesContainer .article {
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
}

.ArticlesContainer .article .img-container {
    height: 300px;
    overflow: hidden;
    align-self: stretch;
    border-radius: 10px;
}

.ArticlesContainer .article .img-container img {
    display: block;
    width: 500px;
    border-radius: 10px;
}

.ArticlesContainer .article-created-at,
.ArticlesContainer .article-author {
    color: var(--foreground-darken, #C0A68C);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.ArticlesContainer .article .article-name {
    color: var(--foreground, #E7D5C7);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}