.button {
    padding: 8px 20px;
    color: var(--primary-black);
    background: var(--primary-milky);
    display: block;
    text-decoration: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: 200ms all;
}
.button:hover {
    background: var(--primary-milky-darken);
}
.button.danger {
    color: #fff;
    background: #DE4D4D;
}
.button.danger:hover {
    box-shadow: 0 0 6px #DE4D4D;
}