.Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background);
}

.Header .header-upper-part {
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header .header-title {
}

.Header .header-title a {
    color: var(--foreground);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-decoration: none;
}

.Header .menu-toggler {
    display: none;
}

.Header .header-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Header .menu-item a {
    color: var(--foreground);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    height: 100%;
}

.Header .header-lower-part {
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000;
}

.Header .header-lower-part-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Header .header-lower-part-link,
.Header .header-lower-part-primary-link {
    text-decoration: none;
    color: var(--foreground);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media screen and (max-width: 599px) {

    .Header .header-upper-part {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 0;
    }

    .Header .header-title {
        display: flex;
        width: 100%;
        padding: 10px 30px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .Header .menu-toggler {
        background: #000;
        color: #fff;
        width: 100%;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        font-weight: 700;
    }

    .Header .header-menu {
        display: none;  /* the menu is closed by default */
        flex-direction: column;
        gap: 0;
    }

    .Header .menu-item {
        padding: 9px 0;
        text-align: center;
    }

    .Header .menu-item a {
        padding-left: 0;
    }
}