.SaveArticlePage {
    max-width: 1040px;
    width: 100%;
    padding: 75px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: var(--primary-black);
}

.SaveArticlePage .article-content-heading {
    display: flex;
    gap: 30px;
}

.SaveArticlePage .article-preview-container {
    width: 450px;
    position: relative;
    cursor: pointer;
    transition: 200ms all;
}
.SaveArticlePage .article-preview-container p {
    display: none;
    pointer-events: none;
}
.SaveArticlePage .article-preview-container:hover p {
    display: block;
    color: var(--primary-milky);
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    transition: 200ms all;
}


.SaveArticlePage #file-uploader {
    display: none;
}

.SaveArticlePage .article-preview {
    width: 450px;
    border-radius: 10px;
    transition: 200ms all;
}
.SaveArticlePage .article-preview-container:hover .article-preview {
    opacity: 0.4;
    cursor: pointer;
}

.SaveArticlePage .article-heading-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SaveArticlePage .article-title {
    color: var(--primary-milky);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    width: 100%;

    background: none;
    border-radius: 0;
    border: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: none;
}

.SaveArticlePage .article-author,
.SaveArticlePage .article-date {
    color: var(--primary-milky);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.SaveArticlePage .article-content img {
    width: 100%;
    border-radius: 10px;
}

.SaveArticlePage ::selection {
    background-color: #2b4050   ;
}
.SaveArticlePage .ce-block--selected .ce-block__content {
    background: #2b4050;
}
.SaveArticlePage .ce-toolbar__content {
    max-width: unset;
}
.SaveArticlePage .ce-toolbar__plus {
    background-color: #fff;
}
.SaveArticlePage .ce-toolbar__settings-btn {
    background-color: #fff;
}
.SaveArticlePage .ce-block__content {
    width: 100% !important;
    max-width: unset;
}
.SaveArticlePage .ce-paragraph.cdx-block {
    color: var(--primary-milky);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
}
.SaveArticlePage .codex-editor__redactor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.SaveArticlePage .cdx-block {
    padding: 0;
}
.SaveArticlePage .image-tool__image {
    margin-bottom: 0;
}
.SaveArticlePage .cdx-input.image-tool__caption {
    display: none;
}
.SaveArticlePage .cdx-block.image-tool.image-tool--filled {
    padding: 0;
}
.SaveArticlePage .ce-header {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 0;
}
.SaveArticlePage .image-tool__image {
    padding: 25px 0;
}

.SaveArticlePage .errors-container p {
    color: var(--danger);
}