.SaveArticlePage {
    padding: 30px 30px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
}

.SaveArticlePage .page-title {
    font-size: 24px;
}

.SaveArticlePage #file-uploader {
    display: none;
}

.SaveArticlePage .section {
    padding-bottom: 40px;
}

.SaveArticlePage .section-title {
    font-size: 20px;
    padding-bottom: 20px;
}

.SaveArticlePage .article-preview {
    width: 350px;
    max-width: 100%;
    padding-bottom: 20px;
}

.SaveArticlePage #reset-preview {
    margin-top: 10px;
    display: block;
}

.SaveArticlePage .form-row {
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.SaveArticlePage #editor * {
    font-size: 18px;
    line-height: 26px;
}
.SaveArticlePage #editor h1 {
    font-size: 24px;
}
.SaveArticlePage #editor h2 {
    font-size: 22px;
}
.SaveArticlePage #editor h3 {
    font-size: 20px;
}
.SaveArticlePage #editor h4 {
    font-size: 18px;
}
.SaveArticlePage #editor h5 {
    font-size: 16px;
}
.SaveArticlePage #editor h6 {
    font-size: 14px;
}

.SaveArticlePage #editor {
    max-width: 860px;
}
.SaveArticlePage .codex-editor__redactor {
    padding-bottom: 100px !important;
}
.SaveArticlePage .ce-block__content,
.SaveArticlePage .ce-toolbar__content {
    max-width: 860px;
}
.SaveArticlePage .ce-toolbar__actions {
    left: 100%;
    padding-left: 5px;
}
.SaveArticlePage .ce-paragraph[data-placeholder]:empty::before {
    color: #727270;
}

.SaveArticlePage .article-name-editor,
.SaveArticlePage .article-content-editor {
    width: 860px;
    max-width: 100%;
    height: 122px;
    font-size: 18px;
    padding-bottom: 100px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.SaveArticlePage .article-name-editor {
    font-size: 32px;
    padding: 0;
    height: 38px;
}

.SaveArticlePage .errors-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #DE4D4D;
}